<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Dawid Mastylak">
    <title>Zadanie rekrutacyjne</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('/assets/dist/css/bootstrap.min.css') }} " rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="theme-color" content="#7952b3">

    <!-- Custom styles for this template -->
    <link href="{{ asset('/assets/dist/css/form-validation.css') }}" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="{{ asset('/assets/brand/bootstrap-logo.svg') }}" alt="" width="72"
                 height="57">
            <h2>Zadanie rekrutacyjne</h2>
            <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form
                group has a validation state that can be triggered by attempting to submit the form without completing
                it.</p>
        </div>
        <div class="row g-6">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">Dawid Mastylak</p>
    </footer>
</div>

<script src="{{ asset('/assets/dist/js/bootstrap.bundle.min.js') }}"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script src="{{ asset('/assets/dist/js/form-validation.js') }} "></script>
</body>
</html>
